In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv(r'C:\Users\vchan\.cache\kagglehub\datasets\nayakganesh007\google-ads-sales-dataset\versions\1\GoogleAds_DataAnalytics_Sales_Uncleaned.csv')
df

,Ad_ID,Campaign_Name,Clicks,Impressions,Cost,Leads,Conversions,Conversion Rate,Sale_Amount,Ad_Date,Location,Device,Keyword
0,A1000,DataAnalyticsCourse,104.0,4498.0,$231.88,14.0,7.0,0.058,$1892,2024-11-16,hyderabad,desktop,learn data analytics
1,A1001,DataAnalyticsCourse,173.0,5107.0,$216.84,10.0,8.0,0.046,$1679,20-11-2024,hyderabad,mobile,data analytics course
2,A1002,Data Anlytics Corse,90.0,4544.0,$203.66,26.0,9.0,NaN,$1624,2024/11/16,hyderabad,Desktop,data analitics online
3,A1003,Data Analytcis Course,142.0,3185.0,$237.66,17.0,6.0,NaN,$1225,2024-11-26,HYDERABAD,tablet,data anaytics training
4,A1004,Data Analytics Corse,156.0,3361.0,$195.9,30.0,8.0,NaN,$1091,2024-11-22,hyderabad,desktop,online data analytic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595,A3595,DataAnalyticsCourse,88.0,5344.0,$242.07,17.0,9.0,0.054,$1418,29-11-2024,HYDERABAD,MOBILE,online data analytic
2596,A3596,DataAnalyticsCourse,154.0,3211.0,$248.28,14.0,6.0,0.039,$1950,2024/11/28,hyderabad,TABLET,data analitics online
2597,A3597,Data Anlytics Corse,113.0,3808.0,$233.25,18.0,4.0,0.035,$1085,2024-11-02,Hyderbad,desktop,data anaytics training
2598,A3598,Data Analytics Corse,196.0,5853.0,$220.13,16.0,7.0,0.036,$1558,2024-11-08,hydrebad,Tablet,data anaytics training
2599,A3599,Data Analytics Corse,NaN,5453.0,NaN,12.0,5.0,NaN,$1174,2024/11/22,HYDERABAD,desktop,analytics for data

In [3]:
df.isnull().sum()

Ad_ID                0
Campaign_Name        0
Clicks             112
Impressions         54
Cost                97
Leads               48
Conversions         74
Conversion Rate    626
Sale_Amount        139
Ad_Date              0
Location             0
Device               0
Keyword              0
dtype: int64

## Cleaning Columns with Mistakes in Text

In [4]:
df['Campaign_Name'] = df['Campaign_Name'].replace({'DataAnalyticsCourse':'Data Analytics Course','Data Anlytics Corse':'Data Analytics Course','Data Analytics Corse':'Data Analytics Course','Data Analytcis Course':'Data Analytics Course'})

In [5]:
df['Location'] = df['Location'].replace({'hyderabad':'Hyderabad','HYDERABAD':'Hyderabad','Hyderbad':'Hyderabad','hydrebad':'Hyderabad'})

In [6]:
df['Device'] = df['Device'].replace({
    'desktop': 'Desktop', 'Desktop': 'Desktop', 'DESKTOP': 'Desktop',
    'mobile': 'Mobile',   'Mobile': 'Mobile',   'MOBILE': 'Mobile',
    'tablet': 'Tablet',   'Tablet': 'Tablet',   'TABLET': 'Tablet'
})

## Filling Impressions with Median

In [7]:
df['Impressions'] = df['Impressions'].fillna(df['Impressions'].median())

## Clicks are dependent on Name,Location,Device so cleaning that

In [8]:
df['Clicks'] = df.groupby(
    ['Campaign_Name','Location','Device']
)['Clicks'].transform(lambda x:x.fillna(x.median()))

## If cost is in '$' it cannot be calculated so removing that and coverting into float

In [9]:
df['Cost'] = (df['Cost'].astype(str).str.replace('$','',regex=False).astype(float))

## Cost per Click another necessary attribute so feature engineering it

In [10]:
df['CPC'] = df['Cost']/df['Clicks']

## Filling Missing values of Cost Column

In [11]:
df['Cost'] = df['Cost'].fillna(
    df['Clicks'] *
    df.groupby(['Campaign_Name','Device'])['CPC'].transform('median')
)

## Filling Missing Values of Leads Column

In [12]:
lead_calculation = (df['Leads'] / df['Clicks']).median()
df['Leads'] = df['Leads'].fillna(df['Clicks'] * lead_calculation).round()

## Filling Missing Values of Conversions Column

In [13]:
conversion_rate = (df['Conversions'] / df['Leads']).median()
df['Conversions'] = df['Conversions'].fillna(df['Leads'] * conversion_rate).round()

## Here how many people got converted by ads is important since it is google ad data so thats why we are using clicks

In [14]:
df['Conversion Rate'] = df['Conversions'] / df['Clicks']

## Sale Amount is in '$' so cleaning it and converting into Float

In [15]:
df['Sale_Amount'] = df['Sale_Amount'].astype(str).str.replace('$','',regex=False).astype(float)

## Finding new Sales Amount and filling empty values

In [16]:
sales_amt = (df['Sale_Amount'].sum() / df['Conversions'].sum()).round()

In [17]:
df['Sale_Amount'] = df['Sale_Amount'].fillna(df['Conversions'] * sales_amt)

## Since all columns are cleaned filling null valus of CPC

In [18]:
df['CPC'] = df['Cost'] / df['Clicks']

## Categorizing Keyword (Feature Engineering)

In [19]:
df['Keyword'] = (
    df['Keyword']
    .str.lower()
    .str.strip()
)

In [20]:
def keyword_category(k):
    if 'course' in k or 'traning' in k:
        return 'course_intent'
    elif 'learn' in k:
        return 'learning_intent'
    elif 'online' in k:
        return 'online_intent'
    else:
        return 'general_intent'

df['Keyword_Category'] = df['Keyword'].apply(keyword_category)

In [22]:
df.to_csv('Google_Ads.csv',index=False)